@import url('https://fonts.googleapis.com/css?family=Roboto|Press+Start+2P');

$gp-red: rgb(255, 72, 72);
$gp-blue: #363672;

@mixin box-shadow($a, $b, $c, $d, $color) {
  -webkit-box-shadow: $a $b $c $d $color;
     -moz-box-shadow: $a $b $c $d $color;
      box-shadow: $a $b $c $d $color;
}

@mixin flex-center() {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 10px;
  margin: 0;

  a {
    text-decoration: none;
  }

  label {
    display: block;
  }

  .nav {
    display: flex;
    padding: 2em 10em;
    background: $gp-blue;
    color: white;
    height: 5em;

    a {
      display: inline-block;
      margin: 0.5em 0em;
      padding: 0 1.5em;
      font-size: 2em;
      color: inherit;
    }

    a:hover {
      color: $gp-red;
      padding-bottom: 1.51em;
      border-bottom: 0.27em solid white;
    }

    .logo {
      display: flex;
      align-items: center;
      flex-basis: 10%;

      h1 {
        font-family: 'Press Start 2P';
        color: $gp-red;
        margin-left: 0.8em;
        font-size: 2.5em;
      }

      img {
        width: 4em;
        height: 4em;
        -ms-transform: rotate(-32deg); /* IE 9 */
        -webkit-transform: rotate(-32deg); /* Chrome, Safari, Opera */
        transform: rotate(-32deg);
      }
    }

    nav {
      display: flex;
      flex-basis: 90%;
      justify-content: flex-end;

      .fa-shopping-cart {
        margin-right: 0.5em;
      }

    }
  }

  .sub-nav {
    display: flex;
    padding: 1em 10em;
    background: $gp-red;
    color: $gp-blue;
    height: 3em;

    a:hover {
      color: white;
    }

    .nav-cat {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-basis: 10%;
      font-size: 2.5em;
      margin: 0 2em;
    }

    a {
      color: white;
    }

    a:hover {
      color: $gp-blue;
    }

    .nav-search {
      display:flex;
      flex-basis: 90%;
      justify-content: flex-end;

      input {
        width: 100%;
        font-size: 2em;
        border-radius: 5px;
        outline: none;
      }
    }
  }

  form div {
    margin: 1em;
    display: inline-block;
  }

  .hero {
    display: flex;

    .product-list-wrapper {
      display: flex;
      justify-content: flex-end;
      flex-basis: 75%;
      margin: 1em;
      height: calc(100vh - 16em);
      @include box-shadow(0px, 0px, 1px, 0px, #bbb);

      .product-list {
        margin: 1em;
        height: calc(100% - 2em);
        width: 100%;
        overflow: scroll;
      }

      .product-item {
        display: flex;
        margin: 1em;
        padding: 0 3em;
        width: calc(100% - 8em);
        height: 25em;
        @include box-shadow(0px, 0px, 1px, 0px, #777);
      }

      .grid {
        display: inline-block;
        width: calc((100% - 8em) / 4);
        height: 28em;
      }

      .img-wrapper {
        @include flex-center();
        flex-direction: column;
        flex-basis: 30%;

        h4 {
          text-align: center;
          font-size: 1.5em;
        }

        img {
          height: calc(50%);
        }
      }

      .description-wrapper {
        @include flex-center();
        flex-direction: column;
        flex-basis: 50%;
        font-size: 1.5em;

        span {
          font-size: 2em;
        }
      }

      .info-wrapper {
        @include flex-center();
        flex-basis: 20%;
        flex-direction: column;
        font-size: 3em;

        .btns {
          @include flex-center();
          flex-direction: column;

          a {
            font-size: 0.5em;
            padding: 5px 10px;
            margin-bottom: 5px;
            color: white;
            border: 1px solid $gp-blue;
            background: $gp-blue;
          }

          button {
            font-size: 1em;
            padding: 5px 10px;
            margin-bottom: 5px;
            color: white;
            border: 1px solid $gp-red;
            background: $gp-red;
          }
        }
      }
    }

    .cart-wrapper {
      display: flex;
      margin: 1em;
      width: calc(100vw - 2em);
      height: calc(100vh - 16em);
      @include box-shadow(0px, 0px, 1px, 0px, #bbb);

      .cart-list {
        margin: 1em;
        flex-basis: 75%;
        overflow: scroll;
        @include box-shadow(0px, 0px, 1px, 0px, #777);

        .cart-item {
          display: flex;
          align-items: center;
          margin: 1em;
          padding: 1em 10em;
          width: calc(100% - 22em);
          height: 10em;
          border-radius: 5px;

          img {
            height: 100%;
            flex-basis: 15%;
          }

          p {
            font-size: 2em;
            margin: 0 3em;
            flex-basis: 20%;
          }

          p:nth-child(4) {
            flex-basis: 25%;
            margin-bottom: 0.5em;
          }
          input {
            text-align: center;
            margin-top: 0.5em;
            font-size: 1em;
            width: 2em;
          }

          button {
            font-size: 1.5em;
            padding: 5px 10px;
            margin-left: 1em;
            color: white;
            border: 1px solid $gp-red;
            border-radius: 5px;
            background: $gp-red;
            flex-basis: 20%;
          }
        }

        .cart-item:hover {
          background: $gp-blue;
          color: white;
        }
      }

      .cart-sidebar {
        display: flex;
        flex-direction: column;
        margin: 1em 1em;
        flex-basis: 25%;

        @include box-shadow(0px, 0px, 1px, 0px, #777);

        h3 {
          text-align: center;
          color: $gp-blue;
          font-size: 3em;
          padding-bottom: 1em;
          margin: 1em 1em;
          border-bottom: 1px solid $gp-red;
        }

        p {
          font-size: 2em;
          text-align: right;
          margin: 1em 2em;
        }

        a {
          text-align: center;
          font-size: 1.5em;
          padding: 5px 10px;
          margin: 1em 2em;
          color: white;
          border-radius: 5px;
          border: 1px solid $gp-blue;
          background: $gp-blue;
        }

        a:hover {
          border: 1px solid $gp-red;
          background: $gp-red;
        }
      }
    }
  } //hero
}
