@import url('https://fonts.googleapis.com/css?family=Roboto|Press+Start+2P');

@import './css/_variables.scss';

body {
  font-family: 'Roboto', sans-serif;
  font-size: 10px;
  margin: 0;

  a {
    text-decoration: none;
  }

  label {
    display: block;
  }

  form div {
    margin: 1em;
    display: inline-block;
  }

  .hero {
    display: flex;


  } //hero
}

