.loginClass {
  margin: 0 auto;
  margin-top: 5rem;


  .googleLoginButton{
    a {
      margin: 0 auto;
      font-size: 1.75em;
      text-align: center;
      }
  }


}



.SubmitButton {
  width: 70%;
  height: 70%;
}


