@import './_variables.scss';

.nav {
  display: flex;
  padding: 2em 10em;
  background: $gp-blue;
  color: white;
  height: 5em;

  a {
    display: inline-block;
    margin: 0.5em 0em;
    padding: 0 1.5em;
    font-size: 2em;
    color: inherit;
  }

  a:hover {
    color: $gp-red;
    padding-bottom: 1.51em;
    border-bottom: 0.27em solid white;
  }

  .logo {
    display: flex;
    align-items: center;
    flex-basis: 10%;

    h1 {
      font-family: 'Press Start 2P';
      color: $gp-red;
      margin-left: 0.8em;
      font-size: 2.5em;
    }

    img {
      width: 4em;
      height: 4em;
      -ms-transform: rotate(-32deg); /* IE 9 */
      -webkit-transform: rotate(-32deg); /* Chrome, Safari, Opera */
      transform: rotate(-32deg);
    }
  }

  nav {
    display: flex;
    flex-basis: 90%;
    justify-content: flex-end;
    

    .fa-shopping-cart {
      margin-right: 0.5em;
    }

  }
}

.sub-nav {
  display: flex;
  padding: 1em 10em;
  background: $gp-red;
  color: $gp-blue;
  height: 3em;

  a:hover {
    color: white;
  }

  .nav-cat {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 15%;
    font-size: 2.5em;
    margin: 0 6em 0 2em;
  }

  a {
    color: white;

  }

  a:hover {
    color: $gp-blue;
  }

  .nav-search {
    display:flex;
    flex-basis: 75%;
    justify-content: flex-end;

    input {
      flex-basis: 80%;
      font-size: 2em;
      border-radius: 5px;
      outline: none;
    }

    button {
      margin: 0 1em;
      flex-basis: 20%;
      font-size: 2em;
      color: white;
      border: 0px;
      background: $gp-blue;
      border-radius: 5px;
    }

    button:hover {
      color: $gp-red;
      background: white;
    }
  }
}
